SERVER_PORT=
DATABASE=
DATABASE_DDL_AUTO=
DATABASE_DRIVER=org.postgresql.Driver
DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_URL=
SHOW_SQL=
ELASTICSEARCH_URI=
REDIS_HOST=
REDIS_PORT=
PRIVATE_KEY_PATH=/private.key
PUBLIC_KEY_PATH=/public.key
GUEST_TOKEN_EXPIRE_MILLISECOND=604800000
REFRESH_TOKEN_EXPIRE_MILLISECOND=604800000
TOKEN_EXPIRE_MILLISECOND= 86400000
RESOURCE_PATH=   # resource ba?ka yerden kullan?lm?yorso bu olmal?   src/main/resources/
CONTEXT_PATH=/api

